<!DOCTYPE html>
<html>

  {% include head.html %}


  <body id="page" class="{{ page.body-class }} no-js">

    {% include header.html %}

	  <div class="hero">
	    <div class="site-width">
	      <img src="/images/jsc-logo-full.svg" width="400">
          <p>
	        John Speck Creative
	      </p>
	      <p>
I'm a one-man army.      </p>

	      <h2>Stay in Touch</h2>
	      <ul>
	      <li>Actually, don't</li>
	      <li>We'll call you...</li> 
          </ul>
	    </div>
	  </div>

    <main>

      {{ content }}

    </main>

    {% include footer.html %}

  </body>

</html>
